<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="getAllPhotos()">Load photos</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="getContactList()">Get contacts</button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="openCamrera()">Open Camera</button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="openNotify()">Open Notify</button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="demoFCM()">Demo FCM</button>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item>
            <p>FCM Token</p>
        </ion-item>
        <ion-item>
            {{ fcmToken }}
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <p>CAMERA RESULT</p>
        </ion-item>
        <ion-item *ngIf="cameraResult.status">
            <img [src]="cameraResult.data | safe" />
        </ion-item>
        <ion-item *ngIf="!cameraResult.status">
            {{ cameraResult.error }}
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <p>ALL CONTACTS</p>
        </ion-item>
        <ion-item *ngFor="let item of contactList">
            <h2>{{ item.displayName || 'Empty' }}</h2>
            <p>M: {{ item.phoneNumbers || '-' }} <i *ngIf="item.phoneNumbers!=''" style="float:right;" (click)="callNumber(item.phoneNumbers)">Call</i></p>
            <p>E: {{ item.emails || '-'}}</p>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <p>ALL PHOTO</p>
            <p *ngIf="photoError">{{ photoError }}</p>
        </ion-item>
        <ion-item *ngFor="let item of allPhotos">
            <ion-thumbnail item-start>
                {{ item.id }}
            </ion-thumbnail>
            <h2>Name: {{item.fileName}} - AlbumID: {{ item.albumIds }}</h2>
            <p>{{ item.photoURL }}</p>
            <p>{{ item.thumbnailURL }}</p>
            <p>W: {{ item.width }} - H: {{ item.height }} </p>
            <p>{{ item.creationDate }}</p>
            <img [src]="convertImageToBase64(item.photoURL) | safe" />
        </ion-item>
    </ion-list>
</ion-content>