<ion-header>
    <ion-navbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="getAllPhotos()">Load photos</button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col padding>
            <button ion-button class="submit-btn" block type="button" (click)="getContactList()">Get contacts</button>
        </ion-col>
    </ion-row>

    <ion-list>
        <ion-item *ngFor="let item of contactList">
            <h2>{{ item.displayName || 'Empty' }}</h2>
            <p>M: {{ item.phoneNumbers || '-' }} <i *ngIf="item.phoneNumbers!=''" style="float:right;" (click)="callNumber(item.phoneNumbers)">Call</i></p>
            <p>E: {{ item.emails || '-'}}</p>
        </ion-item>
    </ion-list>
</ion-content>